#load CSV and marco

In [ ]:
import os
import numpy as np
import keras
from keras.models import Sequential
from keras import layers, models
from keras.layers import Dense, Activation, Flatten, Conv2D, MaxPooling2D
from sklearn.metrics import accuracy_score
from keras.preprocessing.image import ImageDataGenerator
from keras.preprocessing import image as img
import pandas as pd
from keras.callbacks import ModelCheckpoint

In [ ]:
# run on colab
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
!ls
%cd "drive/My Drive/Colab Notebooks/HW1"
!ls

Mounted at /content/drive
drive  sample_data
/content/drive/My Drive/Colab Notebooks/HW1
best_model.h5  datas  HW1_H.ipynb

In [ ]:
labels = pd.read_csv("datas/training_labels.csv")
print(labels.columns)
# add labels to dict
# labels to index
label_dic = dict()
# index to labels
cnt_dic = dict()
cnt = 0
for i in range(labels.shape[0]):
    if (label_dic.get(labels['label'][i]) is None):
        label_dic[labels['label'][i]] = cnt
        cnt_dic[cnt] = labels['label'][i]
        cnt += 1
print(label_dic)
print(cnt_dic)

Index(['id', 'label'], dtype='object')
{'Ford F-150 Regular Cab 2007': 0, 'BMW X6 SUV 2012': 1, 'BMW 1 Series Coupe 2012': 2, 'Fisker Karma Sedan 2012': 3, 'Dodge Ram Pickup 3500 Crew Cab 2010': 4, 'Dodge Dakota Crew Cab 2010': 5, 'Chevrolet Monte Carlo Coupe 2007': 6, 'Aston Martin Virage Coupe 2012': 7, 'MINI Cooper Roadster Convertible 2012': 8, 'Audi S5 Coupe 2012': 9, 'Chevrolet Express Van 2007': 10, 'Dodge Dakota Club Cab 2007': 11, 'Dodge Ram Pickup 3500 Quad Cab 2009': 12, 'Nissan Leaf Hatchback 2012': 13, 'Volvo 240 Sedan 1993': 14, 'Chevrolet Sonic Sedan 2012': 15, 'Ford Freestar Minivan 2007': 16, 'Geo Metro Convertible 1993': 17, 'Jeep Liberty SUV 2012': 18, 'Ford Mustang Convertible 2007': 19, 'Lamborghini Diablo Coupe 2001': 20, 'Land Rover Range Rover SUV 2012': 21, 'Ford Focus Sedan 2007': 22, 'Hyundai Veracruz SUV 2012': 23, 'Audi TT RS Coupe 2012': 24, 'Aston Martin V8 Vantage Convertible 2012': 25, 'Ford Ranger SuperCab 2011': 26, 'Lamborghini Gallardo LP 570-4 Superleggera 2012': 27, 'Dodge Caliber Wagon 2012': 28, 'Buick Verano Sedan 2012': 29, 'Ferrari 458 Italia Convertible 2012': 30, 'GMC Savana Van 2012': 31, 'Toyota Sequoia SUV 2012': 32, 'Chevrolet TrailBlazer SS 2009': 33, 'BMW Z4 Convertible 2012': 34, 'Mercedes-Benz 300-Class Convertible 1993': 35, 'Chevrolet Silverado 1500 Classic Extended Cab 2007': 36, 'BMW M5 Sedan 2010': 37, 'Suzuki Kizashi Sedan 2012': 38, 'Chrysler PT Cruiser Convertible 2008': 39, 'Audi RS 4 Convertible 2008': 40, 'Infiniti G Coupe IPL 2012': 41, 'GMC Yukon Hybrid SUV 2012': 42, 'Lincoln Town Car Sedan 2011': 43, 'Porsche Panamera Sedan 2012': 44, 'Cadillac Escalade EXT Crew Cab 2007': 45, 'Hyundai Elantra Sedan 2007': 46, 'Bentley Mulsanne Sedan 2011': 47, 'Ram C/V Cargo Van Minivan 2012': 48, 'Hyundai Elantra Touring Hatchback 2012': 49, 'Chevrolet HHR SS 2010': 50, 'Ford Edge SUV 2012': 51, 'Lamborghini Aventador Coupe 2012': 52, 'Chevrolet Cobalt SS 2010': 53, 'Bentley Continental Supersports Conv. Convertible 2012': 54, 'AM General Hummer SUV 2000': 55, 'Audi S6 Sedan 2011': 56, 'Ford GT Coupe 2006': 57, 'GMC Terrain SUV 2012': 58, 'smart fortwo Convertible 2012': 59, 'Dodge Challenger SRT8 2011': 60, 'Mercedes-Benz Sprinter Van 2012': 61, 'Spyker C8 Coupe 2009': 62, 'Aston Martin V8 Vantage Coupe 2012': 63, 'Maybach Landaulet Convertible 2012': 64, 'Chevrolet Silverado 2500HD Regular Cab 2012': 65, 'Toyota 4Runner SUV 2012': 66, 'Chevrolet Silverado 1500 Hybrid Crew Cab 2012': 67, 'Plymouth Neon Coupe 1999': 68, 'Chevrolet Silverado 1500 Regular Cab 2012': 69, 'Ford F-450 Super Duty Crew Cab 2012': 70, 'Honda Odyssey Minivan 2007': 71, 'BMW 3 Series Sedan 2012': 72, 'Bentley Continental GT Coupe 2007': 73, 'Hyundai Santa Fe SUV 2012': 74, 'Ford Fiesta Sedan 2012': 75, 'Ford F-150 Regular Cab 2012': 76, 'Chevrolet Camaro Convertible 2012': 77, 'BMW X3 SUV 2012': 78, 'Acura Integra Type R 2001': 79, 'BMW X5 SUV 2007': 80, 'Chevrolet Impala Sedan 2007': 81, 'Bentley Continental GT Coupe 2012': 82, 'Mercedes-Benz S-Class Sedan 2012': 83, 'Cadillac CTS-V Sedan 2012': 84, 'Dodge Caliber Wagon 2007': 85, 'Audi S5 Convertible 2012': 86, 'Chrysler Sebring Convertible 2010': 87, 'Chrysler Town and Country Minivan 2012': 88, 'Jeep Grand Cherokee SUV 2012': 89, 'Rolls-Royce Phantom Sedan 2012': 90, 'Dodge Caravan Minivan 1997': 91, 'Volkswagen Golf Hatchback 1991': 92, 'Honda Accord Coupe 2012': 93, 'GMC Acadia SUV 2012': 94, 'Tesla Model S Sedan 2012': 95, 'Aston Martin Virage Convertible 2012': 96, 'Ford E-Series Wagon Van 2012': 97, 'BMW M6 Convertible 2010': 98, 'Ferrari California Convertible 2012': 99, 'Dodge Durango SUV 2012': 100, 'Chevrolet Traverse SUV 2012': 101, 'Scion xD Hatchback 2012': 102, 'Honda Odyssey Minivan 2012': 103, 'Lamborghini Reventon Coupe 2008': 104, 'FIAT 500 Convertible 2012': 105, 'Chevrolet Corvette Convertible 2012': 106, 'Dodge Journey SUV 2012': 107, 'Suzuki Aerio Sedan 2007': 108, 'BMW 3 Series Wagon 2012': 109, 'FIAT 500 Abarth 2012': 110, 'Jeep Compass SUV 2012': 111, 'Chrysler Aspen SUV 2009': 112, 'Chevrolet Malibu Sedan 2007': 113, 'Audi TT Hatchback 2011': 114, 'Buick Rainier SUV 2007': 115, 'Toyota Corolla Sedan 2012': 116, 'Audi S4 Sedan 2012': 117, 'Bentley Continental Flying Spur Sedan 2007': 118, 'GMC Canyon Extended Cab 2012': 119, 'Audi V8 Sedan 1994': 120, 'Bentley Arnage Sedan 2009': 121, 'Toyota Camry Sedan 2012': 122, 'Dodge Charger Sedan 2012': 123, 'Volvo C30 Hatchback 2012': 124, 'Volvo XC90 SUV 2007': 125, 'BMW 1 Series Convertible 2012': 126, 'Spyker C8 Convertible 2009': 127, 'Mazda Tribute SUV 2011': 128, 'Hyundai Veloster Hatchback 2012': 129, 'Ferrari 458 Italia Coupe 2012': 130, 'Buick Regal GS 2012': 131, 'Isuzu Ascender SUV 2008': 132, 'Honda Accord Sedan 2012': 133, 'Chrysler Crossfire Convertible 2008': 134, 'Acura TSX Sedan 2012': 135, 'Dodge Durango SUV 2007': 136, 'Nissan NV Passenger Van 2012': 137, 'Volkswagen Golf Hatchback 2012': 138, 'Chevrolet Corvette ZR1 2012': 139, 'Suzuki SX4 Sedan 2012': 140, 'Nissan Juke Hatchback 2012': 141, 'Acura TL Type-S 2008': 142, 'Dodge Charger SRT-8 2009': 143, 'HUMMER H3T Crew Cab 2010': 144, 'Jaguar XK XKR 2012': 145, 'Mitsubishi Lancer Sedan 2012': 146, 'Ford Expedition EL SUV 2009': 147, 'Acura TL Sedan 2012': 148, 'Infiniti QX56 SUV 2011': 149, 'Eagle Talon Hatchback 1998': 150, 'Acura RL Sedan 2012': 151, 'Land Rover LR2 SUV 2012': 152, 'Chevrolet Tahoe Hybrid SUV 2012': 153, 'Cadillac SRX SUV 2012': 154, 'Rolls-Royce Ghost Sedan 2012': 155, 'Audi S4 Sedan 2007': 156, 'Chevrolet Express Cargo Van 2007': 157, 'Hyundai Accent Sedan 2012': 158, 'Buick Enclave SUV 2012': 159, 'Chevrolet Avalanche Crew Cab 2012': 160, 'BMW M3 Coupe 2012': 161, 'Hyundai Genesis Sedan 2012': 162, 'Chevrolet Silverado 1500 Extended Cab 2012': 163, 'Bugatti Veyron 16.4 Coupe 2009': 164, 'McLaren MP4-12C Coupe 2012': 165, 'Chrysler 300 SRT-8 2010': 166, 'Audi R8 Coupe 2012': 167, 'Dodge Magnum Wagon 2008': 168, 'Audi A5 Coupe 2012': 169, 'BMW ActiveHybrid 5 Sedan 2012': 170, 'Mercedes-Benz SL-Class Coupe 2009': 171, 'Mercedes-Benz E-Class Sedan 2012': 172, 'Mercedes-Benz C-Class Sedan 2012': 173, 'Audi 100 Sedan 1994': 174, 'Daewoo Nubira Wagon 2002': 175, 'Hyundai Tucson SUV 2012': 176, 'HUMMER H2 SUT Crew Cab 2009': 177, 'Audi TTS Coupe 2012': 178, 'Chevrolet Corvette Ron Fellows Edition Z06 2007': 179, 'Hyundai Sonata Sedan 2012': 180, 'Ferrari FF Coupe 2012': 181, 'Jeep Patriot SUV 2012': 182, 'Volkswagen Beetle Hatchback 2012': 183, 'Hyundai Azera Sedan 2012': 184, 'Suzuki SX4 Hatchback 2012': 185, 'Dodge Sprinter Cargo Van 2009': 186, 'Nissan 240SX Coupe 1998': 187, 'Rolls-Royce Phantom Drophead Coupe Convertible 2012': 188, 'Acura ZDX Hatchback 2012': 189, 'Chevrolet Malibu Hybrid Sedan 2010': 190, 'Hyundai Sonata Hybrid Sedan 2012': 191, 'Audi 100 Wagon 1994': 192, 'Bugatti Veyron 16.4 Convertible 2009': 193, 'Jeep Wrangler SUV 2012': 194, 'BMW 6 Series Convertible 2007': 195}
{0: 'Ford F-150 Regular Cab 2007', 1: 'BMW X6 SUV 2012', 2: 'BMW 1 Series Coupe 2012', 3: 'Fisker Karma Sedan 2012', 4: 'Dodge Ram Pickup 3500 Crew Cab 2010', 5: 'Dodge Dakota Crew Cab 2010', 6: 'Chevrolet Monte Carlo Coupe 2007', 7: 'Aston Martin Virage Coupe 2012', 8: 'MINI Cooper Roadster Convertible 2012', 9: 'Audi S5 Coupe 2012', 10: 'Chevrolet Express Van 2007', 11: 'Dodge Dakota Club Cab 2007', 12: 'Dodge Ram Pickup 3500 Quad Cab 2009', 13: 'Nissan Leaf Hatchback 2012', 14: 'Volvo 240 Sedan 1993', 15: 'Chevrolet Sonic Sedan 2012', 16: 'Ford Freestar Minivan 2007', 17: 'Geo Metro Convertible 1993', 18: 'Jeep Liberty SUV 2012', 19: 'Ford Mustang Convertible 2007', 20: 'Lamborghini Diablo Coupe 2001', 21: 'Land Rover Range Rover SUV 2012', 22: 'Ford Focus Sedan 2007', 23: 'Hyundai Veracruz SUV 2012', 24: 'Audi TT RS Coupe 2012', 25: 'Aston Martin V8 Vantage Convertible 2012', 26: 'Ford Ranger SuperCab 2011', 27: 'Lamborghini Gallardo LP 570-4 Superleggera 2012', 28: 'Dodge Caliber Wagon 2012', 29: 'Buick Verano Sedan 2012', 30: 'Ferrari 458 Italia Convertible 2012', 31: 'GMC Savana Van 2012', 32: 'Toyota Sequoia SUV 2012', 33: 'Chevrolet TrailBlazer SS 2009', 34: 'BMW Z4 Convertible 2012', 35: 'Mercedes-Benz 300-Class Convertible 1993', 36: 'Chevrolet Silverado 1500 Classic Extended Cab 2007', 37: 'BMW M5 Sedan 2010', 38: 'Suzuki Kizashi Sedan 2012', 39: 'Chrysler PT Cruiser Convertible 2008', 40: 'Audi RS 4 Convertible 2008', 41: 'Infiniti G Coupe IPL 2012', 42: 'GMC Yukon Hybrid SUV 2012', 43: 'Lincoln Town Car Sedan 2011', 44: 'Porsche Panamera Sedan 2012', 45: 'Cadillac Escalade EXT Crew Cab 2007', 46: 'Hyundai Elantra Sedan 2007', 47: 'Bentley Mulsanne Sedan 2011', 48: 'Ram C/V Cargo Van Minivan 2012', 49: 'Hyundai Elantra Touring Hatchback 2012', 50: 'Chevrolet HHR SS 2010', 51: 'Ford Edge SUV 2012', 52: 'Lamborghini Aventador Coupe 2012', 53: 'Chevrolet Cobalt SS 2010', 54: 'Bentley Continental Supersports Conv. Convertible 2012', 55: 'AM General Hummer SUV 2000', 56: 'Audi S6 Sedan 2011', 57: 'Ford GT Coupe 2006', 58: 'GMC Terrain SUV 2012', 59: 'smart fortwo Convertible 2012', 60: 'Dodge Challenger SRT8 2011', 61: 'Mercedes-Benz Sprinter Van 2012', 62: 'Spyker C8 Coupe 2009', 63: 'Aston Martin V8 Vantage Coupe 2012', 64: 'Maybach Landaulet Convertible 2012', 65: 'Chevrolet Silverado 2500HD Regular Cab 2012', 66: 'Toyota 4Runner SUV 2012', 67: 'Chevrolet Silverado 1500 Hybrid Crew Cab 2012', 68: 'Plymouth Neon Coupe 1999', 69: 'Chevrolet Silverado 1500 Regular Cab 2012', 70: 'Ford F-450 Super Duty Crew Cab 2012', 71: 'Honda Odyssey Minivan 2007', 72: 'BMW 3 Series Sedan 2012', 73: 'Bentley Continental GT Coupe 2007', 74: 'Hyundai Santa Fe SUV 2012', 75: 'Ford Fiesta Sedan 2012', 76: 'Ford F-150 Regular Cab 2012', 77: 'Chevrolet Camaro Convertible 2012', 78: 'BMW X3 SUV 2012', 79: 'Acura Integra Type R 2001', 80: 'BMW X5 SUV 2007', 81: 'Chevrolet Impala Sedan 2007', 82: 'Bentley Continental GT Coupe 2012', 83: 'Mercedes-Benz S-Class Sedan 2012', 84: 'Cadillac CTS-V Sedan 2012', 85: 'Dodge Caliber Wagon 2007', 86: 'Audi S5 Convertible 2012', 87: 'Chrysler Sebring Convertible 2010', 88: 'Chrysler Town and Country Minivan 2012', 89: 'Jeep Grand Cherokee SUV 2012', 90: 'Rolls-Royce Phantom Sedan 2012', 91: 'Dodge Caravan Minivan 1997', 92: 'Volkswagen Golf Hatchback 1991', 93: 'Honda Accord Coupe 2012', 94: 'GMC Acadia SUV 2012', 95: 'Tesla Model S Sedan 2012', 96: 'Aston Martin Virage Convertible 2012', 97: 'Ford E-Series Wagon Van 2012', 98: 'BMW M6 Convertible 2010', 99: 'Ferrari California Convertible 2012', 100: 'Dodge Durango SUV 2012', 101: 'Chevrolet Traverse SUV 2012', 102: 'Scion xD Hatchback 2012', 103: 'Honda Odyssey Minivan 2012', 104: 'Lamborghini Reventon Coupe 2008', 105: 'FIAT 500 Convertible 2012', 106: 'Chevrolet Corvette Convertible 2012', 107: 'Dodge Journey SUV 2012', 108: 'Suzuki Aerio Sedan 2007', 109: 'BMW 3 Series Wagon 2012', 110: 'FIAT 500 Abarth 2012', 111: 'Jeep Compass SUV 2012', 112: 'Chrysler Aspen SUV 2009', 113: 'Chevrolet Malibu Sedan 2007', 114: 'Audi TT Hatchback 2011', 115: 'Buick Rainier SUV 2007', 116: 'Toyota Corolla Sedan 2012', 117: 'Audi S4 Sedan 2012', 118: 'Bentley Continental Flying Spur Sedan 2007', 119: 'GMC Canyon Extended Cab 2012', 120: 'Audi V8 Sedan 1994', 121: 'Bentley Arnage Sedan 2009', 122: 'Toyota Camry Sedan 2012', 123: 'Dodge Charger Sedan 2012', 124: 'Volvo C30 Hatchback 2012', 125: 'Volvo XC90 SUV 2007', 126: 'BMW 1 Series Convertible 2012', 127: 'Spyker C8 Convertible 2009', 128: 'Mazda Tribute SUV 2011', 129: 'Hyundai Veloster Hatchback 2012', 130: 'Ferrari 458 Italia Coupe 2012', 131: 'Buick Regal GS 2012', 132: 'Isuzu Ascender SUV 2008', 133: 'Honda Accord Sedan 2012', 134: 'Chrysler Crossfire Convertible 2008', 135: 'Acura TSX Sedan 2012', 136: 'Dodge Durango SUV 2007', 137: 'Nissan NV Passenger Van 2012', 138: 'Volkswagen Golf Hatchback 2012', 139: 'Chevrolet Corvette ZR1 2012', 140: 'Suzuki SX4 Sedan 2012', 141: 'Nissan Juke Hatchback 2012', 142: 'Acura TL Type-S 2008', 143: 'Dodge Charger SRT-8 2009', 144: 'HUMMER H3T Crew Cab 2010', 145: 'Jaguar XK XKR 2012', 146: 'Mitsubishi Lancer Sedan 2012', 147: 'Ford Expedition EL SUV 2009', 148: 'Acura TL Sedan 2012', 149: 'Infiniti QX56 SUV 2011', 150: 'Eagle Talon Hatchback 1998', 151: 'Acura RL Sedan 2012', 152: 'Land Rover LR2 SUV 2012', 153: 'Chevrolet Tahoe Hybrid SUV 2012', 154: 'Cadillac SRX SUV 2012', 155: 'Rolls-Royce Ghost Sedan 2012', 156: 'Audi S4 Sedan 2007', 157: 'Chevrolet Express Cargo Van 2007', 158: 'Hyundai Accent Sedan 2012', 159: 'Buick Enclave SUV 2012', 160: 'Chevrolet Avalanche Crew Cab 2012', 161: 'BMW M3 Coupe 2012', 162: 'Hyundai Genesis Sedan 2012', 163: 'Chevrolet Silverado 1500 Extended Cab 2012', 164: 'Bugatti Veyron 16.4 Coupe 2009', 165: 'McLaren MP4-12C Coupe 2012', 166: 'Chrysler 300 SRT-8 2010', 167: 'Audi R8 Coupe 2012', 168: 'Dodge Magnum Wagon 2008', 169: 'Audi A5 Coupe 2012', 170: 'BMW ActiveHybrid 5 Sedan 2012', 171: 'Mercedes-Benz SL-Class Coupe 2009', 172: 'Mercedes-Benz E-Class Sedan 2012', 173: 'Mercedes-Benz C-Class Sedan 2012', 174: 'Audi 100 Sedan 1994', 175: 'Daewoo Nubira Wagon 2002', 176: 'Hyundai Tucson SUV 2012', 177: 'HUMMER H2 SUT Crew Cab 2009', 178: 'Audi TTS Coupe 2012', 179: 'Chevrolet Corvette Ron Fellows Edition Z06 2007', 180: 'Hyundai Sonata Sedan 2012', 181: 'Ferrari FF Coupe 2012', 182: 'Jeep Patriot SUV 2012', 183: 'Volkswagen Beetle Hatchback 2012', 184: 'Hyundai Azera Sedan 2012', 185: 'Suzuki SX4 Hatchback 2012', 186: 'Dodge Sprinter Cargo Van 2009', 187: 'Nissan 240SX Coupe 1998', 188: 'Rolls-Royce Phantom Drophead Coupe Convertible 2012', 189: 'Acura ZDX Hatchback 2012', 190: 'Chevrolet Malibu Hybrid Sedan 2010', 191: 'Hyundai Sonata Hybrid Sedan 2012', 192: 'Audi 100 Wagon 1994', 193: 'Bugatti Veyron 16.4 Convertible 2009', 194: 'Jeep Wrangler SUV 2012', 195: 'BMW 6 Series Convertible 2007'}

In [ ]:
num_classes = 196

# CNN Architecture

In [25]:
def identity_block(model, filters):
    filters1, filters2, filters3 = filters
    id_m = layers.Conv2D(filters1, (1, 1),
                         kernel_initializer='he_uniform')(model)
    id_m = layers.BatchNormalization(axis=3)(id_m)
    id_m = layers.Activation('relu')(id_m)
    id_m = layers.Conv2D(filters2, (3, 3),
                         padding='same',
                         kernel_initializer='he_uniform')(id_m)
    id_m = layers.BatchNormalization(axis=3)(id_m)
    id_m = layers.Activation('relu')(id_m)
    id_m = layers.Conv2D(filters3, (1, 1),
                         kernel_initializer='he_uniform')(model)
    id_m = layers.BatchNormalization(axis=3)(id_m)
    id_m = layers.Activation('relu')(id_m)
    # connect two path
    id_m = layers.add([id_m, model])
    id_m = layers.Activation('relu')(id_m)
    return id_m

In [26]:
def conv_block(model, filters):
    filters1, filters2, filters3 = filters
    cb = layers.Conv2D(filters1, (1, 1), strides=(2, 2),
                       kernel_initializer='he_uniform')(model)
    cb = layers.BatchNormalization(axis=3)(cb)
    cb = layers.Activation('relu')(cb)
    cb = layers.Conv2D(filters2, (3, 3), padding='same',
                       kernel_initializer='he_uniform')(cb)
    cb = layers.BatchNormalization(axis=3)(cb)
    cb = layers.Activation('relu')(cb)
    cb = layers.Conv2D(filters3, (1, 1), strides=(2, 2),
                       kernel_initializer='he_uniform')(model)
    cb = layers.BatchNormalization(axis=3)(cb)
    cb = layers.Activation('relu')(cb)
    # shortcut
    shortcut = layers.Conv2D(filters3, (1, 1), strides=(2, 2),
                             kernel_initializer='he_uniform')(model)
    shortcut = layers.BatchNormalization(axis=3)(shortcut)
    # connect two path
    x = layers.add([cb, shortcut])
    x = layers.Activation('relu')(cb)
    return cb

In [28]:
# transfer learning
transfer = keras.applications.Xception(weights='imagenet',
                                       input_shape=(128, 128, 3),
                                       include_top=False)
transfer.trainable = True

input_layer = layers.Input(shape=(128, 128, 3))
model = transfer(input_layer, training=True)
model = layers.GlobalAveragePooling2D()(model)

model = layers.Dense(num_classes,
                     activation='softmax',)(model)

m = models.Model(input_layer, model)
# m.summary()
opt = keras.optimizers.SGD()
m.compile(loss='categorical_crossentropy',
          optimizer=opt, metrics=['accuracy'])

# Training

# load training data

In [11]:
try:
    train_img = np.load("datas/train_data.npy")
    train_label = np.load("datas/train_labels.npy")
except:
    print("Please run LoadDate.ipynb first")

In [12]:
train_label = keras.utils.to_categorical(train_label, num_classes)

In [13]:
edge1 = int(train_img.shape[0]/10)
edge2 = int(2*train_img.shape[0]/10)
main_train = np.concatenate((train_img[0:edge1], train_img[edge2:]))
main_train_label = np.concatenate((train_label[0:edge1], train_label[edge2:]))
val_train = train_img[edge1:edge2]
val_train_label = train_label[edge1:edge2]

print(main_train.shape[0])
print(main_train_label.shape[0])
print(val_train.shape[0])
print(val_train_label.shape[0])

10066
10066
1119
1119

#Data Augmentation

In [16]:
datagen = ImageDataGenerator(
    zca_whitening=False,
    rotation_range=50,
    width_shift_range=0.6,
    height_shift_range=0.6,
    shear_range=0.6,
    zoom_range=0.6,
    horizontal_flip=True,
    fill_mode='nearest')

# Save model

In [14]:
checkpoint = ModelCheckpoint("best_model.h5", monitor='loss', verbose=1,
                             save_best_only=True, save_weights_only=True,
                             mode='auto', save_freq='epoch')

# Training the model

In [ ]:
batch_size = 64
epochs = 150

try:
    m.load_weights("best_model.h5")
except:
    print("no save model")
datagen.fit(train_img)
m.fit(datagen.flow(main_train, main_train_label, batch_size=batch_size),
      epochs=epochs,
      validation_data=(val_train, val_train_label),
      shuffle=True,
      callbacks=[checkpoint])

no save model
Epoch 1/150
  2/158 [..............................] - ETA: 34s - loss: 5.3513 - accuracy: 0.0000e+00WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.1203s vs `on_train_batch_end` time: 0.3219s). Check your callbacks.
 45/158 [=======>......................] - ETA: 50s - loss: 5.3182 - accuracy: 0.0038

# Second Training

In [ ]:
datagen.fit(train_img)
batch_size = 64
epochs = 100

try:
    m.load_weights("best_model.h5")
except:
    print("no save model")

m.fit(datagen.flow(train_img, train_label, batch_size=batch_size),
      epochs=epochs,
      shuffle=True,
      callbacks=[checkpoint])

#Testing

# load testing data

In [ ]:
try:
    test_img = np.load("datas/test.npy")
    test_id = np.load("datas/test_ids.npy")
except:
    print("Please run LoadDate.ipynb first")

# predict

In [21]:
test_img = test_img.astype('float32')
try:
    m.load_weights("best_model.h5")
except:
    print("no pretrained model")
pred = m.predict(test_img)
pred = np.argmax(pred, axis=1)
pred_label = np.array([], dtype="object")

for i in pred:
    pl = cnt_dic[i]
    pred_label = np.concatenate((pred_label, [pl]))
print(pred_label.shape)
print(pred_label)

(5000,)
['Dodge Durango SUV 2012' 'Volvo C30 Hatchback 2012'
 'Dodge Caravan Minivan 1997' ... 'Audi S4 Sedan 2007'
 'Volvo 240 Sedan 1993' 'Mazda Tribute SUV 2011']

#Save CSV

In [22]:
# id = test_id, label = pred_label
dict = {'id': test_id, "label": pred_label}
df = pd.DataFrame(dict)
df.to_csv('pred.csv', index=False)